footer.footer
  p.footer__phrase Contactanos
  .footer__container
    .footer__container__email: a(href="mailto:hola@diana-love.com").footer__mail
      i.icon-mail 
      span hola@diana-love.com
    .footer__container__phone: a(href="tel:+529219873213").footer__phone 
      i.icon-phone 
      span 9219837821
    .footer__container__network
      a(href="https://www.facebook.com/dianaloveshop/").footer__link: i.icon-fb
      a(href="https://www.instagram.com/dianaloveshop/").footer__link: i.icon-insta
  .footer__copy &#169; Derechos Reservados 2018
      